.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 100%;
}

.profile-title {
  margin: 3% 0 0 0;
}

.profile-traits-col {

}

.profile-icon {
  height: 150px;
  padding: 20px;
}

.icon-title {
  font-size: 1.5em;
}

.icon-text {
  padding: 0 20px 0 20px;
  font-size: 0.9em;
}

.profile-section {
  padding: 0;
  position: relative;
}

.profile-photo {
  height: 400px;
  padding: 5%;
}

.profile-left-text {
  text-align: left;
}

.profile-right-text {
  text-align: left;
  text-indent: 50px;
}

.profile-section-header {
  font-size: 1.6em;
}

.profile-section-subheader {
  border-left: 3px solid black;
  margin-top: 10%;
  padding-left: 20px;
  font-size: 1.5rem;
  text-align: left;
}
