div.home-container {
  min-height: 100vh;
  /* background-image: url("img_tree.png"); */
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

div.title {
  font-size: 40px;
  font-weight: bold;
}

section {
  p {
    font-size: 20px;
  }
}
