/* Header */

#header {

}

#brand {
  max-height: 40px;
}

.nav-bar{
  height: 50px;
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  /* margin-left: 20px; */
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: rgba(120,120,120,0.4);
  border-right: 1px solid rgba(0,0,0,0.2);
}
