.App {
  text-align: center;
  color: rgba(255,255,255,0.7);
  color:rgba(40,200,200,0.75);
  position: relative;
}

.parallax {
    /* The image used */
    background-image: url("https://s3.us-east-2.amazonaws.com/weston-gibler-portfolio/portfolio_background.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
  background-color: rgba(0, 0, 0, 0.25);
  min-width: 100%;
}

.navbar {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  box-shadow: 0 5px 10px -3px rgba(114, 166, 192, 0.75);
}

.pro_butt {
  padding:10px 3px 3px 0;
  font-size: 0.85em;
  width: 200px;
  justify-content: end;
}

.buffer {
  width:100%;
  max-height:30px;
}

.top-nav-collapse {
  background-color: rgba(110,153,175,0.5);
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(110,153,175,0.5);
  }
}

.nav-link {
  color: rgba(40,200,200,0.75);
  margin-top: 30px;
  width: 100px;
  font-size: 0.9em;
}

.initials_icon {
  height: 50px;
  padding-left: 20%;
}

.linked {
  padding: 20px;
  margin-right: 15px;
}

.github {
  margin-right: 15px;
  margin-left: 60px;
}

.github_icon, .linkedin_icon {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.footer {
  background-color: rgba(110,153,175,0.5);
  width: 100%;
}

.buffer {
  height: 20vh;
}

.welcome-row {
  width: 100%;
  padding-right: 100px;
  margin-top: 10vh;
}

.intro {
  background-color: rgba(32, 66, 83, 0.7);
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 3%;
  margin-left: 5%;
  margin-right: 15%;
  color:rgba(78, 248, 248, 0.75);
  text-shadow: 2px 2px 4px #000000;
  max-height: 60px;
}

.title {
  background-color: rgba(114, 166, 192, 0.7);
  padding-left: 3%;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 15%;
  color:rgba(78, 248, 248, 0.75);
  text-shadow: 2px 2px 4px #000000;
  height: 65px;
}

.larger-text-bump {
  font-size: 4vh;
}

.dark-title-text {
  color: rgb(37, 60, 70);
}

.photo {
  background-color: rgba(40,200,200,0.85);
  height: 30vw;
  margin-left: 65%;
  margin-right: 5%;
  border-radius: 0 20% 0 20%;
}

.photo-div {
  background-image: url("https://s3.us-east-2.amazonaws.com/weston-gibler-portfolio/head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  height: 98%;
  border-radius: 0 0 25% 0;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5);
}

.about_content {
  margin-top: 400px;
}

.header_logo {
  height: 160px;
  opacity: 0.3;
}

.about-left{
  background-color: rgba(37, 60, 70, 0.1);
  text-align: left;
  padding-top: 2%;
}

.about_img1 {
  height: 500px;
  opacity: 0.7;
}

.about-center{
  background-color: rgb(37, 60, 70);
  padding: 2%;
}

.about_header1 {
  background-color: rgba(255,255,255,0.7);
  color: rgb(37, 60, 70);
  border-radius: 15% 55% 12% 35%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2% 2% 2% 10%;
  text-align: left;
}

.about_header2 {
  background-color: rgba(255,255,255,0.7);
  color: rgb(37, 60, 70);
  border-radius: 15% 55% 12% 35%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2% 2% 2% 10%;
  text-align: left;
}

.about_triangle {
  height: 150px;
  padding: 0% 10% 2% 10%;
  margin-left: 25%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 50%;
}

.about_bring_text {
  text-align: left;
}

.about-right{
  background-color: rgba(37, 60, 70, 0.6);
  padding: 2%;
  text-align: left;
}

.projects_content {
  margin-top: 400px;
}

.projects_header,
.about_header,
.resume_header {
  text-align: left;
}

.section_header {
  background-color: rgba(255,255,255,0.77);
  background-image: url("https://s3.us-east-2.amazonaws.com/weston-gibler-portfolio/code.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 4em;
  font-weight: 100;
  color: rgb(37, 60, 70);
  margin-bottom: 50px;
  margin-right: 15%;
}

.header_mask {
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  padding: 0 10% 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: inset 0px 5px 10px rgba(0,0,0,0.8);
}

.project_row {
  height: 500px;
  padding:20px;
  background-color: rgba(180, 199, 209,0.9);
  margin-bottom: 100px;
}

.project_info_titles {
  padding-left: 0;
}

.project_badge {
  max-height: 65%;
  min-height: 100px;
  margin-bottom: 10px;
}
.project_content_logo {
  max-height: 180px;
  padding: 5% 5% 5% 5%;
  opacity: 0.6;
}

.project_content-center {
  background-color: rgba(37, 60, 70, 0.1);
  margin-bottom: 4%;
  padding-top: 13%;
  font-weight: 600;
  border-radius: 160px 50px 200px 10px;
}

.project_content-left {
  margin-bottom: 5%;
  margin-top:-15px;
}

.stack-label {
  color: rgb(37, 60, 70);
  font-size: 1.2em;
  padding-right: 10px;
}

.project_content-right {
  background-color: rgb(37, 60, 70);
  margin-top: 0;
  padding-top: 0;
  border-radius: 80px 5px 100px 5px;

}

.gallery {
  padding: 20px;
  margin-top: 10px;
}

.gitActive {
  background-color: #3F729B;
}

.project-left {
  background-color: rgba(37, 60, 70, 0.1);
  border-radius: 5px 200px;

}

.cover_img1, .cover_img2 {
  max-height: 45%;
}

.cover_img_full, .techItem {
  width:80%;
}

.app_title {
  padding-left: 10px;
  text-align: left;
}

.project-title {
  height: 100%;
  font-size: 6vh;
}

.cv_section {
  margin-top: 400px;
  margin-bottom: 20px;
}
.cv_content {
  background-color: rgba(180, 199, 209,0.9);
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
}

.resume {
  background-image: url("https://s3.us-east-2.amazonaws.com/weston-gibler-portfolio/WestonGiblerResume.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 100%;
}
