.App {
  text-align: center;
  color: rgba(255,255,255,0.7);
}

.parallax {
    /* The image used */
    background-image: url("./assets/back.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
  background-image: url("./assets/initials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:55px;
  width:50px;
}

.content {
  background-color: rgba(0, 0, 0, 0.25);
  min-width: 100%;
}

.navbar {
  background-color: rgba(110,153,175,0.5);
  width: 100%;
}

.linked {
  background-image: url("./assets/linked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
  margin-right: 15px;
}

.github {
  background-image: url("./assets/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
  margin-right: 15px;
}

.footer {
  background-color: rgba(110,153,175,0.5);
  width: 100%;
}

.buffer {
  height: 20vh;
}

.welcome-row {
  width: 100%;
  padding-right: 100px;
}

.intro {
  background-color: rgba(110,153,175,0.5);
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 30%;
  margin-left: 15%;
}

.title {
  background-color: rgba(110,153,175,0.5);
  padding-left: 5%;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 15%;
}

.photo {
  background-color: rgba(40,200,200,0.85);
  height: 60vh;
  margin-left: 60%;
  margin-right: 5%;
}

.photo-div {
  background-image: url("./assets/head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-right: 20px;
}

.about_content {
  background-color: rgba(110,153,175,0.5);
  margin-top: 400px;
  min-height: 500px;
}

.about-left{
  background-color: red;
}

.about-center{
  background-color: yellow;
}

.about-right{
  background-color: blue;
}

.projects_content {
  background-color: rgba(110,153,175,0.5);
  margin-top: 400px;
  padding-top: 50px;
}

.project_row_left {
  min-height: 400px;
  padding:20px;
  background-color: blue;
  margin-bottom: 30px;
}

.project_row_right {
  min-height: 400px;
  padding:20px;
  margin-bottom: 30px;
  background-color: red;
}

.project-left, .project-right {
  background-color: orange;
  min-height: 100%;
  width: 100%;
}


.cv_content {
  background-color: rgba(110,153,175,0.5);
  margin-top: 400px;
}

.resume {
  background-image: url("./assets/WestonGiblerResume.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 100%;
}
