.App {
  text-align: center;
  color: rgba(255,255,255,0.7);
}

.parallax {
    /* The image used */
    background-image: url("./assets/back.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
  background-image: url("./assets/initials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:55px;
  width:50px;
}

.content {
  background-color: rgba(0, 0, 0, 0.25);
  min-width: 100%;
}

.navbar {
  background-color: rgba(110,153,175,0.5);
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.linked {
  background-image: url("./assets/linked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
  margin-right: 15px;
}

.github {
  background-image: url("./assets/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
  margin-right: 15px;
  margin-left: 40px;
}

.footer {
  background-color: rgba(110,153,175,0.5);
  width: 100%;
}

.buffer {
  height: 20vh;
}

.welcome-row {
  width: 100%;
  padding-right: 100px;
}

.intro {
  background-color: rgba(110,153,175,0.5);
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 30%;
  margin-left: 15%;
}

.title {
  background-color: rgba(110,153,175,0.5);
  padding-left: 5%;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 15%;
}

.photo {
  background-color: rgba(40,200,200,0.85);
  height: 60vh;
  margin-left: 60%;
  margin-right: 5%;
}

.photo-div {
  background-image: url("./assets/head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-right: 20px;
}

.about_content {
  margin-top: 400px;
}

.about-left{
  background-color: red;
  min-height: 500px;
}

.about-center{
  background-color: yellow;
  min-height: 500px;
}

.about-right{
  background-color: blue;
  min-height: 500px;
}

.projects_content {
  margin-top: 400px;
}

.projects_header, 
.about_header,
.resume_header {
  text-align: left;
}

.section_header {
  background-color: rgba(127,15,126,0.6);
  padding-left: 5%;
  padding-right: 5%;
  font-size: 6vh;
  font-weight: 100;
}

.project_row {
  min-height: 400px;
  padding:20px;
  background-color: rgba(110,153,175,0.8);
  margin-bottom: 30px;
}

.project_content_row {
  /* min-width: 100%; */
}

.project_content-left {
  background-color: red;
}

.project_content-center {
  background-color: forestgreen;
}

.project_content-right {
  background-color: skyblue;
}

.project-left {
  background-color: rgb(0, 162, 255);
  width: 100%;
}

.app_title, .app_subtitle {
  padding-left: 10px;
  text-align: left;
}

.cv_section {
  margin-top: 400px;
  margin-bottom: 20px;
}
.cv_content {
  background-color: rgba(110,153,175,0.5);
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
}

.resume {
  background-image: url("./assets/WestonGiblerResume.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 100%;
}
