.App {
  text-align: center;
  color: rgba(255,255,255,0.7);
  position: relative;
}

.parallax {
    /* The image used */
    background-image: url("./assets/back.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
  background-image: url("https://s3.us-east-2.amazonaws.com/weston-gibler-portfolio/initialsBig.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:55px;
  width:50px;
}

.content {
  background-color: rgba(0, 0, 0, 0.25);
  min-width: 100%;
}

.navbar {
  /* background-color: rgba(110,153,175,0.2); */
  background-color: transparent;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  box-shadow: 0 5px 10px -3px rgba(40,200,200,0.75);
}

.pro_butt {
  padding:10px 3px 3px 0;
  font-size: 1.1em;
}

.buffer {
  width:100%;
  max-height:30px;
}

.top-nav-collapse {
  background-color: rgba(110,153,175,0.5);
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(110,153,175,0.5);
  }
}

.nav-item-text {
  color: rgba(40,200,200,0.75);
}

.linked {
  background-image: url("./assets/linked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  margin-right: 15px;
}

.github {
  background-image: url("./assets/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  margin-right: 15px;
  margin-left: 60px;
}

.footer {
  background-color: rgba(110,153,175,0.5);
  width: 100%;
}

.buffer {
  height: 20vh;
}

.welcome-row {
  width: 100%;
  padding-right: 100px;
}

.intro {
  background-color: rgba(32, 66, 83, 0.7);
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 3%;
  margin-left: 5%;
  margin-right: 15%;
}

.title {
  background-color: rgba(110,153,175,0.7);
  padding-left: 3%;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 15%;
}

.photo {
  background-color: rgba(40,200,200,0.85);
  height: 30vw;
  margin-left: 60%;
  margin-right: 5%;
}

.photo-div {
  background-image: url("https://s3.us-east-2.amazonaws.com/weston-gibler-portfolio/head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96%;
  width: 99%;
}

.about_content {
  margin-top: 400px;
}

.about-left{
  background-color: red;
  /* min-height: 500px; */
}

.about-center{
  background-color: yellow;
  /* min-height: 500px; */
}

.about-right{
  background-color: blue;
  /* min-height: 500px; */
}

.projects_content {
  margin-top: 400px;
}

.projects_header, 
.about_header,
.resume_header {
  text-align: left;
}

.section_header {
  background-color: rgba(127,15,126,0.6);
  padding-left: 5%;
  padding-right: 5%;
  font-size: 6vh;
  font-weight: 100;
}

.project_row {
  min-height: 600px;
  padding:20px;
  background-color: rgba(180, 199, 209,0.9);
  margin-bottom: 30px;
}

.project_info_titles {
  padding-left: 15px;

}

.project_info_content {
  justify-content: center;
  display: flex;
  margin-right:10px;
}

.project_badge {
  max-height: 65%;
  min-height: 100px;
  margin-bottom: 10px;
}
.project_content_logo {
  max-height: 200px;
  /* max-width: 100%; */
  padding: 5% 5% 5% 5%;
  opacity: 0.3;
}

.project_content-center {
  background-color: rgba(86, 88, 88, 0.8);
  font-weight: 600;
}

.project_content-right {
  background-color: rgb(37, 60, 70);
  padding-top: 5%;
}

.project-left {
  background-color: rgba(37, 60, 70, 0.6);
  
}

.cover_img1, .cover_img2 {
  max-height: 45%;
}

.app_title, .app_subtitle {
  padding-left: 10px;
  text-align: left;
}

.cv_section {
  margin-top: 400px;
  margin-bottom: 20px;
}
.cv_content {
  background-color: rgba(110,153,175,0.5);
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
}

.resume {
  background-image: url("./assets/WestonGiblerResume.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 100%;
}
