.work-container {
  /* background-color: rgb(255,0,0); */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 100%;
}

.project-gallery {
  min-width: 100%;
}

.gallery-row {
  /* background-color: rgb(0,255,0); */
  min-height: 600px;
}

.main {
  /* background-color: rgb(0,0,255); */
}

.work-title {
  margin-top: 50px;
}

.work-subtitle {
  font-size: 1.2rem;
  padding: 0 15% 0 15%;
}

.project-title {
  font-size: 2rem;
}

.project-subtitle {
  font-size: 1.1rem;
}

.project-icon {
  height: 75px;
  float: left;
}

.project-button-group {
  padding: 20px 0 20px 0;
}

.project-btn {
  margin: 0 5px 0 5px;
}

.project-image {
  height: 50vh;
  /* padding-top: 50px; */
}

.title-divider {
  height: 1px;
  margin: 2% 30% 2% 30%;
  background-color: rgb(0,0,0);
}
